<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Course</th>
                <th>Section</th>
                <th>Time</th>
                <th>Location</th>
                <th>Instructor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of scheduleList">
                <td>{{ s.subject}} {{ s.number }}</td>
                <td>{{ s.section }}</td>
                <td>{{ s.days }} <p *ngIf="s.time != 'TBA'" style="display: inline">{{s.time}}</p></td>
                <td>{{ s.location }}</td>
                <td>{{ s.instructor }}</td>
            </tr>
        </tbody>
